@import "tailwindcss";

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-feature-settings: "rlig" 1, "calt" 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #030712;
    color: #f3f4f6;
  }
}